/* Assets:
Font: Roboto
Farben: #0b0c17 / #ff3571 / #dddddd / #3C30FF / #FFF / #000 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    margin:0;
    font-family: 'Roboto', sans-serif;

    padding: 0;
}
#art1logo{
    vertical-align: baseline;
}

#logo img{
    width:33px;
    padding-right: 12px;
    float:left;
    padding-left: 1%;
}

.firsth4{
    font-size: larger;
    
}
.firstp{
    font-size: 12px;
    padding-left: 6%;
}

#firstsection{
    
        background-image:url(../img/ilustracion_people.png),url(../img/ilustracion1.png);
        background-repeat:no-repeat,no-repeat;
        background-position:right center, right top;
        background-size: 50%;
    
    height: 100vh;

}
#firstsection:hover{
    background-image:url(../img/ilustracion_people.png),url(../img/ilustracion1.png);
        background-repeat:no-repeat,no-repeat;
        background-position:right bottom, right top;
        background-size: 50%;
    
    height: 100vh;

}


#firstsection img{
    size:50%;
}

#section2 img{
    width:85%;
    padding-left: 5%;
    
}
#section2{
    margin: 0 auto;
}

#article2{
    width:400px;
    padding-left: 12%;
   padding-top: 15%;
}
#article2 a{
    text-decoration: none;
    color: #ff3571;
    font-weight: 900;

}

#article2 h1{
    font-size: 44px;
}

#article2 h3{
    font-size: 12px;
    font-weight: 300;
}
.article2a{
    padding-top: 77px;
font-size: 10px;    
}
.section3{
    font-size: 28px;
    width:200px;
    padding-left: 5%;
}
#section3 article:first-of-type{
    display:flex;
}

#section3 p{
    font-size: 11px;
    width:400px;
    padding-left: 5%;
    line-height: 20px;
}

#section3{
    margin-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
}

.section3h1{
    padding-top: 10%;
    width: 330px;
    font-size: 28px;
    padding-left: 1%;;
    padding-bottom: 5%;
}

#section4{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 10%;
}

.sec4article{
    width: 40%;
    padding-left: 5%;
    padding-bottom: 5%;

}

.sec4article span{
    padding-right: 5%;
}


.sec4article p {
    padding-left: 11%;
    padding-top: 1%;
}

#section5{
    text-align: center;
}

#section5 p{
    width: 550px;
    margin: 0 auto;
    padding-top: 3%;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 15%;
}

#section6{
    padding-left: 5%;
    padding-right: 3%;
}
.sec6art1{
    display:flex
}
.sec6divimg img{
    width:350px;
}
.sec6div2{
    padding-left: 5%;
}
.sec6div2 h3{
    margin-top: 10px;
    color: #dddddd;
    font-size: 35px;
    padding-bottom: 30px;
}
.sec6div2 img{
    size: 35%;
    padding-bottom: 10px;

}
.sec6div2 h4{
    padding-bottom: 10px;
}
.sec6div2 p{
    font-size: 10px;
    line-height: 16px;
}

#section7{
    text-align: center;
}

#section7 h1{
    font-size: 34px;
    margin-top: 15%;
}
#section7 p{
    padding-top: 10px;
    padding-bottom: 10px;
}

#button{
    color: white;
    background-color: #ff3571;
    font-size: 12px;
   width: 200px;
   border-radius: 3px;
   padding-top: 12px;
   padding-bottom: 12px;

  
}
#button:hover{
    background:linear-gradient(45deg, red, blue)
}
#email{
    
    width:300px;
    height: 23px;
    text-align: center;
    background-color: #FFF;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

footer{
    padding-top: 10%;
    padding-left: 5%;
    font-size: 12px;
    padding-bottom: 3%;
}

